$header_height: 66.5px;
$header_height_desktop: 187px;
.below-header {
  @include media-breakpoint-up(xl) {
    padding-top: calc(#{$header_height_desktop} + 3rem);
  }
}
hr.lg {
  margin-top: $hr-margin-y * 3;
  margin-bottom: $hr-margin-y * 3;
}

body {
  color: theme-color("light");
}

@include media-breakpoint-up(xl) {
  .home #site-content {
    padding-top: 0 !important;
  }
}
