.contact-content {
  text-align: right;
  padding-top: 100px;
}

@include media-breakpoint-up(xl) {
  .contact-content {
    margin-top: 10rem;
    padding-top: 50px;
    .container-fluid {
      padding-left: 2rem;
      padding-right: 2rem;
      @include media-breakpoint-up(xl) {
        padding-right: calc(100vw - 95vw);
      }
    }
  }
}
