.grid8x5 {
  display: flex;

  > div {
    flex: 0 0 12.5vw;
    max-width: 12.5vw;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
  }

  .cell {
    display: block;
    flex-grow: 1;
    border: 1px dotted #ddd;
    background-size: cover;
    background-position: center;
    position: relative;

    .icon,
    .image {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      z-index: 0;
    }
    .icon {
      object-fit: contain;
    }

    .image {
      transition: all 0.4s ease-in-out;
      opacity: 0;
    }

    > a {
      position: relative;

      &:after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(theme-color("primary"), 0.5);
        opacity: 0;
        transition: all 0.4s ease-in-out;
      }
    }

    &:hover {
      background-image: var(--hover-image);

      .image,
      .project-title {
        opacity: 1;
      }

      > a {
        &:after {
          opacity: 1;
        }
      }
    }

    > a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

.project-title {
  position: absolute;
  color: #fff;
  font-size: 1rem;
  padding: 0.8rem;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  z-index: 1;
}

@include media-breakpoint-down(lg) {
  .grid8x5 {
    flex-wrap: wrap;
    margin-left: -0.5rem;
    margin-right: -0.5rem;

    .cell {
      flex: 0 0 33.33333333%;
      max-width: 33.33333333%;
      min-width: auto;
    }
  }

  .m-column-item {
    padding: 1rem 0.5rem;

    img {
      object-fit: cover;
      width: 100%;
    }
  }
}

@include media-breakpoint-down(sm) {
  .grid8x5 {
    .cell {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
}

@include media-breakpoint-down(xs) {
  .grid8x5 {
    .cell {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}
