#site-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
  .navbar {
    padding: 0.5rem 1.5rem;
  }
}

header .main-navigation {
  background-color: transparent;
  .hamburger {
    display: inline-block !important;
  }
  .navbar {
    justify-content: space-between;
    position: relative;
    #main-navbar {
      position: absolute;
      top: 100%;
      right: 1rem;
      height: 0;
      overflow-y: hidden;
      transition: height 1s linear;
      &.show {
        height: 165px;
        transform: none;
      }
      #menu-main-menu {
        flex-direction: column;
        align-items: flex-end;
        .nav-item {
          .nav-link {
            border: none;
            padding: 0.5rem 1.5rem;
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  #site-header {
    .navbar-brand {
      height: 20vh;
      display: flex;
      width: 12.5vw;
      align-items: center;
      justify-content: center;
      .img-full {
        width: auto;
      }
    }
    .navbar {
      padding: 0;
    }
    .hamburger {
      height: 20vh;
      display: flex;
      width: 12.5vw;
      align-items: center;
    }
    .main-navigation {
      .navbar {
        #main-navbar {
          right: 4.25vw;
          top: 16vh;
        }
      }
    }
  }
}

// @include media-breakpoint-up($nav-breakpoint-up) {
//   #site-header {
//     position: static;

//     .navbar {
//       align-items: flex-start;
//       padding: 0;
//     }

//     .navbar-brand {
//       position: fixed;
//       z-index: 9;
//       height: 20vh;
//       display: flex;
//       width: 12.5vw;
//       align-items: center;

//       .img-full {
//         width: auto;
//         margin: auto;
//       }
//     }
//   }
//   .main-navigation {
//     background-color: transparent;

//     > .navbar .navbar-nav {
//       flex-direction: column;
//       text-align: right;
//       z-index: 9;
//       position: fixed;
//       top: 0;
//       right: 0;
//       padding: 1.5rem;

//       .nav-item {
//         display: block;
//       }

//       > .nav-item {
//         margin-bottom: 0.5rem;
//       }

//       .nav-link {
//         padding: 0;
//         letter-spacing: 0.25em;
//       }

//       .active {
//         a.nav-link {
//           color: theme-color("secondary");
//         }
//       }

//       .dropdown-menu {
//         > .active {
//           > a {
//             color: theme-color("secondary");
//           }
//         }
//       }
//     }
//   }

//   // .page-template-project {
//   //   .main-navigation {
//   //     > .navbar .navbar-nav {
//   //       .nav-item.active {
//   //         .dropdown-menu {
//   //           position: static;
//   //           padding: 0 0.4em 0 0;
//   //           border: 0;
//   //           text-align: right;
//   //           display: block;
//   //         }

//   //         .dropdown-toggle::after {
//   //           display: none;
//   //         }

//   //         .dropdown-item {
//   //           padding: 0;
//   //         }
//   //       }
//   //     }
//   //   }
//   // }
// }
