.horizontal {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  overflow: hidden;
}

.horizontal__body {
  display: flex;
  transform: translateX(calc(var(--scrollY) * -1));
}


.horizontal__section--viewport {
  min-height: 100vh;
}

.horizonSpace {
  position: relative;
  margin-top: 100vh;
  margin-top: var(--marginTop, 100vh);
  height: 1px;
}

@include media-breakpoint-down(lg) {
  .horizontal__body {
    display: block;
  }
  .horizontal {
    position: static;
    height: 100%;
  }
  .horizonSpace {
    display: none;
  }
}
