
.horizontal__body {
  position: absolute;
  display: block;
  left: 0;
  width: 100vh;
  width: calc(var(--vh, 1vh) * 100);
  margin: 0;
  background: none;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-transform: rotate(-90deg) translateY(calc(-100vh - -80px));
  transform: rotate(-90deg) translateY(calc(-100vh - -80px));
  transform: rotate(-90deg) translateY(calc((var(--vh, 1vh) * 100 - 0px) * -1));
  -webkit-transform-origin: right top;
  transform-origin: right top;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  top: -30px; //this hides the scrollbar at top
  height: 100vw;
  color: #302a6e;
  z-index: 2;

  .horizontal__wrapper {
    -webkit-transform: rotate(90deg) translateY(0);
    transform: rotate(90deg) translateY(0);
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;

    .horizontal__section,
    .horizontal__section--viewport,
    .horizontal__wrapper .horizontal__section--wide {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-pack: center;
      justify-content: center;
    }

    .horizontal__section--viewport {
      min-width: 100vw;
    }
  }
}
