#kh-loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 99999999;
  display: flex;
  justify-content: center;
  align-items: center;

  &.hide {
    z-index: -99;
    display: none;
    // transition: opacity 2 linear;
  }
  img {
    width: 200px;
    height: auto;
  }
}
