.page-template-about {
  .horizontal {
    display: flex;
    flex-direction: column;
  }

  .horizontal__body {
    text-align: center;

    .project-image {
      margin: 0 auto 2rem auto;
    }
  }

  .flexible-content {
    margin: 0 auto;

    p {
      text-align: justify;
    }

    .flexible_2_column_grid {
      .img-full {
        width: auto;
        margin: 0 auto 2rem auto;
      }
      .order-1.col-12 {
        img {
          @include media-breakpoint-up(xl) {
            margin-left: 0;
          }
        }
      }
      .order-2.col-12 {
        @include media-breakpoint-up(xl) {
          padding-left: 5rem;
        }
      }
    }
  }
}

.top-content {
  letter-spacing: 0.05em;
}

#imageModalCenter {
  text-align: center;

  .modal-dialog {
    display: inline-flex;
    max-width: 80% !important;
    border: 0;
  }

  .modal-content {
    background-color: transparent;
  }

  .modal-body {
    padding: 0;
  }

  iframe {
    display: block;
  }

  figure.zoom {
    //width: 300px;
  }
}

#imageModalCenter.videoModal .modal-dialog {
  display: flex;
}

@include media-breakpoint-up(xl) {
  .fix-it {
    bottom: 0;
    position: sticky;
  }
  // .fix-it.project-image {
  //   padding-left: 12.5vw;
  // }
  .page-template-about
  //.page-template-project
  {
    #site-header {
      z-index: 0;
    }

    main {
      .container {
        background-color: white;
      }
    }

    .horizontal__body {
      align-items: flex-end;
      flex-grow: 1;
      //border-bottom: 1px solid;

      // .project-image {
      //   padding: 0 12.5vw 0 0;
      //   margin-bottom: 0;
      //   //transition: all 0.3s ease-in-out;

      //   img {
      //     max-height: 40vh;
      //     max-width: none;
      //     padding-bottom: 5vh;
      //   }
      // }
    }
  }

  // .page-template-project {
  //   main {
  //     .container {
  //       margin-left: 12.5vw;
  //       padding: 0;
  //       height: 40vh;
  //       padding-bottom: 5vh;
  //       overflow-y: scroll;
  //       max-width: 37.5vw;
  //     }
  //   }
  // }

  .top-content {
    margin-top: 20vh;

    .container {
    }
  }
}
