@include media-breakpoint-up(xl) {
  .grid-line {
    position: absolute;
    z-index: -1;
    border: 1px dotted #ddd;
    top: 0;
    left: 0;
  }

  .grid-line--horizontal {
    height: 1px;
    width: 100vw;
  }

  .grid-line--vertical {
    width: 1px;
    height: 100vh;
  }

  .grid-line-1 {
    top: 20vh;
  }

  .grid-line-2 {
    top: 40vh;
  }

  .grid-line-3 {
    top: 60vh;
  }

  .grid-line-4 {
    top: 80vh;
  }

  .grid-line-5 {
    left: 12.5vw;
  }


  .grid-line-6 {
    left: 25vw;
  }

  .grid-line-7 {
    left: 37.5vw;
  }

  .grid-line-8 {
    left: 50vw;
  }

  .grid-line-9 {
    left: 62.5vw;
  }

  .grid-line-10 {
    left: 75vw;
  }

  .grid-line-11 {
    left: 87.5vw;
  }

}


