.page-template-project {
  #site-content {
    padding-top: 100px !important;
    @include media-breakpoint-up(xl) {
      padding-top: 150px !important;
    }
    main {
      .container {
        background-color: transparent;
        .project-title {
          position: static;
          color: theme-color("light");
          opacity: 1;
          // transition: all 0.4s ease-in-out;
          // z-index: 1;
        }
      }
    }
  }
}

.project-images {
  img {
    width: 100%;
  }
  .project-img:not(:last-child) {
    margin-bottom: 3rem;
  }
}
